/*Selector Universal*/
* {
  margin: 0;
  padding: 0;
  background-color: rgb(69, 115, 201);
  box-sizing: border-box;
}

/*import*/
.logo-wiv {
  width: 100px;
  background: none;
}

.navegacion {
  background-image: radial-gradient(circle, rgb(10, 10, 10), rgb(34, 19, 241));
}

.navegacion a {
  background-color: none;
}

/*creacion de variables*/
/*Selector de Etiqueta*/
nav {
  font-size: 25px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background: none;
}

.logo-wiv {
  width: 110px;
  background: none;
}

header img {
  margin-left: 100px;
  background: none;
}

h1 {
  font-size: 100px;
  display: flex;
  justify-content: center;
  color: rgb(0, 9, 128);
}

h2 {
  color: rgb(30, 82, 223);
}

h3 {
  text-align: center;
  color: rgb(0, 9, 128);
  font-size: 40px;
  letter-spacing: 3px;
}

.imagenindex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h4 {
  color: rgb(18, 18, 153);
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
}

ol {
  font-size: 25px;
}

section h2 {
  color: aqua;
}

footer {
  margin-top: 0px;
  color: #0b07fc;
  border: solid black 1px;
}

.bc-footer {
  background-color: black;
}

.imgindex {
  border: rgb(65, 10, 216) solid 5px;
  border-radius: 3px;
  transition: all 3s;
}

.imgindex:hover {
  width: 500px;
  cursor: pointer;
}

#background-image-quienes-somos-transition:hover {
  height: 2500px;
}

#imagecreatina {
  display: image;
  margin-top: 50px;
}

#botones {
  margin-top: 35px;
  color: #fff;
  font-size: 20px;
}

.titulos {
  max-width: 100%;
  text-align: center;
  background-color: black;
  color: rgb(184, 160, 177);
}

.img-suplementos-index {
  border: solid rgb(65, 10, 216) 5px;
  border-radius: 3px;
}

.lorem-suplementos {
  font-weight: bold;
}

#inicio-style {
  color: blue;
  background: none;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  /*corte*/
}

.imagenmaquinas {
  text-align: center;
}

.links-styles {
  background: none;
  text-decoration: none;
  color: rgb(55, 149, 189);
  margin-left: 170px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.links-styles:hover {
  background-color: #fff;
  transition: 0.6s;
  border-radius: 5px;
}

/*backgrounds-images*/
.background-image-quienes-somos {
  background-image: url("../recursos.html/Imagenes/conjunto (2).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 2s;
  height: 3000px;
  opacity: 70%;
  cursor: pointer;
}

.background-image-quienes-somos a {
  text-decoration: none;
}

.background-image-quienes-somos h2 {
  letter-spacing: 5px;
  font-weight: bold;
  color: rgb(24, 0, 245);
  background: none;
  font-size: 30px;
  top: 2%;
  left: 60%;
  transform: translate(-50% -50%);
  text-align: start;
}

.background-image-quienes-somos p {
  color: #ca1414;
  margin-top: 50%;
  background: none;
  left: 50%;
  top: 20%;
  font-size: 23px;
  text-align: center;
}

.background-image-indumentaria {
  background-image: url("../recursos.html/Imagenes/zapatillas 1 (10).jpg");
  background-size: cover;
  height: 3000px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.background-image-indumentaria h2 {
  letter-spacing: 5px;
  font-weight: bold;
  color: black;
  background: none;
  font-size: 40px;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50% -50%);
}

.background-image-indumentaria-conjuntos {
  background-image: url("../recursos.html/Imagenes/conjunto (3).jpg");
  height: 3000px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.background-image-indumentaria-conjuntos h2 {
  color: black;
  font-weight: bold;
  position: absolute;
  transform: translate(-50% -50%);
  background-color: rgba(228, 227, 252, 0.986);
  margin-left: 50%;
  margin-top: 2%;
  font-size: 60px;
}

/*bucle EACH*/
.violet {
  background-color: violet;
}

.yellow {
  background-color: yellow;
}

.darkgreen {
  background-color: darkgreen;
}

.green {
  background-color: green;
}

/*extend*/
.card, .avatar {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
}

/*Mixins*/
/*ejemplo*/
.img {
  border: red 10px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.img-avatar {
  border: green 20px solid;
  border-radius: 20px;
  box-shadow: 0px 0px 20px red;
}

.stock-grid {
  margin: 10% 5%;
  padding: 5px;
  text-align: center;
}

.stock-grid img {
  margin: 0;
  border-radius: 10px;
  width: 100%;
}

.stock-grid img:hover {
  opacity: 70%;
  transition: 0.6s;
  cursor: pointer;
  width: 100%;
  box-shadow: 20px 20px 10px 10px rgb(42, 42, 187);
}

.stock-grid h4 {
  letter-spacing: 3px;
  border-radius: 10px;
  background-color: rgb(18, 32, 231);
  color: black;
  font-size: 35px;
  padding: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 40%);
  gap: 2rem;
}

.menuesc {
  text-decoration: none;
  display: block;
  text-align: left;
  color: black;
  font-size: 40px;
  font-weight: bolder;
}

.menuesc:hover {
  background-color: #fff;
  border-radius: 10px;
}

section p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  overflow: hidden;
  max-height: 0;
  transition: 0.5s;
}

#menu1:target p {
  max-height: 500px;
  background-color: rgb(13, 141, 214);
  padding: 10px;
  border-radius: 15px;
}

#menu2:target p {
  max-height: 500px;
  background-color: rgb(13, 141, 214);
  padding: 10px;
  border-radius: 15px;
}

#menu3:target p {
  max-height: 500px;
  background-color: rgb(13, 141, 214);
  padding: 10px;
  border-radius: 15px;
}

#menu4:target p {
  max-height: 500px;
  background-color: rgb(13, 141, 214);
  padding: 10px;
  border-radius: 15px;
}

#menu5:target p {
  max-height: 500px;
  background-color: rgb(13, 141, 214);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 100px;
}

@media screen and (min-width: 200px) and (max-width: 1689px) {
  h1 {
    font-size: 25px;
    font-weight: bold;
  }
  h3 {
    background-color: rgb(69, 115, 201);
    font-weight: bolder;
    max-width: 100%;
    font-size: 25px;
    letter-spacing: 0;
  }
  main {
    text-align: center;
  }
  .links-styles {
    margin: 2% 0%;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  nav a {
    margin: 2% 0%;
    color: rgb(55, 149, 189);
  }
  .links-styles {
    margin: 2% 0%;
  }
  nav img {
    display: none;
  }
  .background-image-quienes-somos {
    height: 500px;
  }
  .background-image-quienes-somos h2 {
    left: 30%;
  }
  .background-image-quienes-somos p {
    background: none;
    color: black;
    font-weight: bolder;
  }
  #img-maquinas {
    margin: 0;
    width: 300px;
  }
}
@media screen and (max-width: 1500px) {
  .background-image-indumentaria {
    height: 700px;
  }
  .background-image-indumentaria h2 {
    font-size: 20px;
    border-radius: 10px;
  }
  .background-image-indumentaria-conjuntos {
    height: 700px;
  }
  .background-image-indumentaria-conjuntos h2 {
    font-size: 20px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 200px) and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 20%);
  }
  .stock-grid h4 {
    font-size: 20px;
    font-weight: bold;
  }
  #botones {
    font-size: 15px;
  }
}/*# sourceMappingURL=estilos.css.map */