/*Selector Universal*/
* {
  margin: 0;
  padding: 0;
  background-color: rgb(69, 115, 201);
}

/*import*/
.logo-wiv {
  width: 100px;
  background: none;
}

.navegacion {
  background-image: radial-gradient(circle, rgb(10, 10, 10), rgb(34, 19, 241));
}

.navegacion a {
  background-color: none;
}

/*creacion de variables*/
/*Selector de Etiqueta*/
nav {
  font-size: 25px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

a:hover {
  color: rgb(0, 109, 94);
}

header img {
  margin-left: 90px;
  background: none;
}

h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: rgb(0, 9, 128);
}

h2 {
  color: rgb(30, 82, 223);
}

h3 {
  text-align: center;
  color: rgb(0, 9, 128);
  font-size: 40px;
  letter-spacing: 3px;
}

.imagenindex {
  display: flex;
  justify-content: space-around;
}

h4 {
  color: rgb(18, 18, 153);
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
}

ol {
  font-size: 25px;
}

section h2 {
  color: aqua;
}

.Rutinas-margen {
  margin-left: 1px;
}

#imagecreatina {
  display: image;
  margin-top: 50px;
}

.titulos {
  max-width: 100%;
  text-align: center;
  background-color: rgb(55, 149, 189);
  color: rgb(0, 109, 94);
}

.title {
  width: 100%;
  overflow: hidden;
  font-size: 1.28em;
  letter-spacing: 2px;
  line-height: initial;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}

.suplementoslorem {
  flex-direction: row;
  text-align: center;
  align-items: start;
  grid-area: header;
  background-color: rgba(5, 236, 82, 0.219);
  font-weight: 600;
}

#inicio-style {
  background: none;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.links-styles {
  background: none;
  text-decoration: none;
  color: rgb(55, 149, 189);
  margin-left: 170px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*backgrounds-images*/
.background-image-quienes-somos {
  background-image: url("../recursos.html/Imagenes/conjunto (2).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3000px;
  opacity: 70%;
}

.background-image-quienes-somos h2 {
  letter-spacing: 5px;
  font-weight: bold;
  color: black;
  background-color: rgba(250, 247, 247, 0.938);
  font-size: 40px;
  position: relative;
  top: 2%;
  left: 50%;
  transform: translate(-50% -50%);
  text-align: start;
}

.background-image-quienes-somos p {
  background-color: rgba(250, 247, 247, 0.938);
  position: relative;
  left: 75%;
  top: 20%;
}

.background-image-indumentaria {
  background-image: url("../recursos.html/Imagenes/zapatillas 1 (10).jpg");
  background-size: cover;
  height: 3000px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.background-image-indumentaria h2 {
  letter-spacing: 5px;
  font-weight: bold;
  color: black;
  background-color: rgb(218, 218, 218);
  font-size: 40px;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50% -50%);
}

.background-image-indumentaria-conjuntos {
  background-image: url("../recursos.html/Imagenes/conjunto (3).jpg");
  height: 3000px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.background-image-indumentaria-conjuntos h2 {
  color: black;
  font-weight: bold;
  position: absolute;
  transform: translate(-50% -50%);
  background-color: rgba(228, 227, 252, 0.986);
  margin-left: 50%;
  margin-top: 2%;
  font-size: 60px;
}

/*condicionales*/
.flexbox-conteiner {
  background-color: green;
  max-width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-around;
}

/*bucle EACH*/
.violet {
  background-color: violet;
}

.yellow {
  background-color: yellow;
}

.darkgreen {
  background-color: darkgreen;
}

.green {
  background-color: green;
}

/*extend*/
.card, .avatar {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
}

/*Mixins*/
/*ejemplo*/
.img {
  border: red 10px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.img-avatar {
  border: green 20px solid;
  border-radius: 20px;
  box-shadow: 0px 0px 20px red;
}

/*grid css practica*/
.grid-conteiner {
  /*box modeling*/
  width: 90%;
  max-width: 1000px; /*se rellena con la cantidad de px que pongamos en el grid-templete*/
  border: 10px solid black;
  margin: auto;
  /*tipografia*/
  font-size: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 400px 400px 400px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 15px;
}

/*activar grid*/
/*divs que estan directamente adentro del grid container*/
.conteiner1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

@media screen and (min-width: 500px) and (max-width: 1199px) {
  h3 {
    background-color: rgb(5, 90, 139);
    font-weight: bolder;
    max-width: 100%;
    font-size: 25px;
    letter-spacing: 0;
  }
  main {
    text-align: center;
  }
  .background-image-quienes-somos h2 {
    left: 30%;
  }
  .background-image-quienes-somos p {
    left: 40%;
    top: 3%;
    font-size: 20px;
  }
}/*# sourceMappingURL=estilos.css.map */